*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
common/build/.transforms/617cf9689035f0435e33e2faeb5f23dd.bin
common/build/.transforms/617cf9689035f0435e33e2faeb5f23dd/classes/classes.dex
common/build/.transforms/f7a6d1886e6eade08a690946695d6407.bin
common/build/.transforms/f7a6d1886e6eade08a690946695d6407/classes/classes.dex
common/build/intermediates/compile_symbol_list/debug/R.txt
common/build/intermediates/compiled_local_resources/debug/out/layout_progress_layout.xml.flat
common/build/intermediates/data_binding_artifact/debug/out/com.jecelyin.common-br.bin
common/build/intermediates/data_binding_artifact/debug/out/com.jecelyin.common-setter_store.json
common/build/intermediates/data_binding_base_class_log_artifact/debug/out/com.jecelyin.common-binding_classes.json
common/build/intermediates/data_binding_dependency_artifacts/debug/out/androidx.databinding.library.baseAdapters-br.bin
common/build/intermediates/data_binding_dependency_artifacts/debug/out/androidx.databinding.library.baseAdapters-setter_store.json
common/build/intermediates/local_only_symbol_list/debug/R-def.txt
common/build/intermediates/navigation_json/debug/navigation.json
common/build/intermediates/symbol_list_with_package_name/debug/package-aware-r.txt
